* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
}


.header {
 position: absolute;
 display: flex;
 align-items: center;
 width: 1140px;
 height: 30px;
 padding: 30px;
 margin-top: 10px;
 background-color: transparent;
}

.first {
  display: flex;
  height: 600px;
  flex-grow: 0;
}

.header_nav_right {
  margin-left: 850px;
}

.second {
  background: rgb(255, 255, 255);
  height: 600px;
  flex-grow: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_big {
 color: #156963;
 margin: 186px 72px 24px 0;
 font-size: 63px;
 font-weight: 500;
}

.text_two {
 font-weight: 400;
 font-size: 18px;
 margin: 0 72px 24px 0;
 line-height: 32px;
 text-align: justify;
 color: #2C1500;
}

.right_text {
 margin-bottom: 250px;
 margin-left: 70px;
}

.sign_up {
color: #156963;
padding: 15px;
width: 100px;
text-align: center;
}

.sign_in {
background-color: #156963;
color: white;
padding: 15px;
width: 100px;
text-align: center;
}

.previous {
padding: 40px 30px;
color: #156963;
}

.block_text {
font-size: 24px;
color: #333333;
display: flex;
align-items: center;
opacity: 0.5;
}

.next {
padding: 40px 50px;
background-color: #156963;
color: white;
}

.block_text2 {
font-size: 24px;
color: #F2F2F2;
display: flex;
align-items: center;
opacity: 0.5;
}

h3, h2 {
background-color: transparent;
}

.block_down {
display: flex;
position: absolute;
padding-left: 260px;
bottom: 0;
}

.container2 {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-top: 150px;
}

.inf_cards {
display: flex;
flex-direction: row;
margin-bottom: 140px;
}

.card {
padding: 10px;
margin: 10px;
border: 1px solid rgb(187, 187, 187);
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
}

.card h4 {
color: #156963;
font-weight: 700;
width: 50px;
margin-left: 20px;
}

.layerimg {
margin-bottom: -9px;
}

.panel {
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 60px;
margin-right: 60px;
}

.text_left {
font-style: normal;
font-weight: 500;
color: #000000;
font-size: 20px;
line-height: 24px;
}

.line {
margin-left: 55px;
margin-right: 55px;
margin-top: 10px;
height: 1px;
background: gray;
opacity: 0.6;
}

.cheap {
border: 1px solid gray;
font-style: normal;
padding: 5px;
font-size: 11px;
font-weight: 700;
line-height: 15px;
color: #000000;
}

.cheap::after {
content: "˅";
margin-left: 10px;
}

.box_t {
display: flex;
justify-content: space-between;
margin-right: 60px;
margin-left: 60px;
}

.box {
width: 220px;
}

.box p {
text-align: center;
font-size: 20px;
margin: 10px;
}

.price {
text-align: center;
font-weight: 650;
}

h5 {
  font-size: 40px;
}

.f_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(243, 244, 246, 1);
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 250px;
}

.text_f_block p {
  color: black;
  margin-left: 70px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
}

.visit {
  color: white;
  background: #156963;
  font-size: 14px;
  padding: 10px 42px;
  margin-left: 70px;
}

footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid green;
  height: 300px;
  margin-top: 250px;
  padding-top: 100px;
}

ul {
  list-style: none;
}

.st1 li:nth-child(1) {
  color: #156963;
  font-size: 24px;
  margin-bottom: 25px;
}

.st1 li:nth-child(2) {
  font-weight: 650;
  font-size: 16px;
  margin-bottom: 10px;
}

.st1 li:nth-child(3) {
  font-size: 13px;
  width: 280px;
  font-weight: 400;
  color: #4F4F4F;
}

.st2_3 li:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.st2_3 li:nth-child(2) {
  font-size: 14px;
  margin-bottom: 10px;
}

.st2_3 li:nth-child(3) {
  font-size: 14px;
}

.st4 li:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.st4 li:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 26px;
  opacity: 0.5;
  border: 1px solid gray;
  padding: 5px;
}

.st4 li:nth-child(3) {
  border-radius: 6px;
  text-align: center;
  color: white;
  font-size: 8px;
  background: #156963;
  padding: 8px;
  width: 50px;
}

.container3 {
  justify-content: space-between;
  margin: auto;
  margin-bottom: 120px;
  padding: 0 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin-top: 300px;
  margin-left: 240px;
}

.b_r {
  margin-right: 240px;
}

.text_c3 p {
  line-height: 28px;
  margin-top: 30px;
  width: 490px;
  color: #2C1500;
  opacity: 0.8;
}